<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gyunlog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Gyunlog</a></h1>
    </div>

    <div>
        <p>published: 16.07.2016, 2:49</p>
        <h2><a href="">My first post</a></h2>
        <p>첫 번째 글인데, 이렇게 일일이 타이핑하는 것은 매우 귀찮은 일이다.</p>
    </div>
    
    <div>
        <p>published: 16.07.2016, 2:49</p>
        <h2><a href="">My first post</a></h2>
        <p>두 번째 글인데, 이렇게 일일이 타이핑하는 것은 매우 귀찮은 일이다.</p>
    </div>
</body>
</html>